@font-face {
    font-family: 'BKoodak';
    font-style: normal;
    src:  url('fonts/BKoodak.eot') format('eot'),
          url('fonts/BKoodak.woff') format('woff'),
          url('fonts/BKoodak.ttf') format('ttf'),
          url('fonts/BKoodak.svg') format('svg'),
          url('fonts/BKoodak.otf') format('otf');
}
body{
    font-family:'BKoodak' ;
    direction: rtl;
    text-align: right !important;
    line-height: 1.6;
    background: #00001a;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #ff0066;
    border-radius: 50%;
    display: inline-block;
}
.dot-about{
    height: 15px;
    width: 15px;
    background-color: #00ccff;
    border-radius: 50%;
    display: inline-block;
}

/*Animation line*/
@keyframes line_animation {
    from {
        width: 0%;
    }
    to {
        width:100%;
    }
}
.line {
    border-bottom: solid 5px #019fb6;
    border-top-width: 0px;
    animation-name: line_animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes line2_animation {
    from {
        width: 0%;
    }
    to {
        width:100%;
    }
}
.line2 {
    border-bottom: solid 5px #ff0066;
    border-top-width: 0px;
    animation-name: line_animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}
/* End Animation line*/

/*Navbar*/
.img-logo{
    width: fit-content;
    height: fit-content;
}
.nav-link{
    font-size: x-large;
}
.navbar{
    background: #00001a;
}
/* End Navbar*/

/*Banner*/
.btn{
    border-radius: 50px;
    margin: auto;
    text-align: center;
    width: 150px;
}
.fa-long-arrow-alt-left{
    font-size: medium;
}
.img-banner{
    max-width: 450px;
    max-height: 300px;
    cursor: pointer;
}
#box {
    max-width: 450px;
    max-height: 300px;
    cursor: pointer;
}
.gradient-border {
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
}
@keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
}
svg {
    width: 50%; height: 50%;
  }
  svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 4;
    stroke: #0099ff;
    font-size: 140px;
  }
  @keyframes stroke {
    0%   {
      fill: rgba(204, 243, 255,0); stroke: rgb(0, 153, 204,1);
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 4;
    }
    70%  {fill: rgba(204, 243, 255,0); stroke: rgb(0, 153, 204,1); }
    80%  {fill: rgba(204, 243, 255,0); stroke: rgb(0, 153, 204,1); stroke-width: 3; }
    100% {
      fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
  }
/*End banner*/

/*Service*/
.card{
    background: #00001a;
    border: 3px solid #000033;
    border-radius: 10px;
    cursor: pointer;
 }
 .card-body{
    color: white;
    text-align:center;
 }
 .card-img-top{
     max-width: fit-content;
     max-height: fit-content;
 }
 .card::before,
 .card::after {
   border: 0 solid transparent;
   box-sizing: border-box;
   content: '';
   pointer-events: none;
   position: absolute;
   width: 0;
   height: 0;
   bottom: 0;
   right: 0;
 }
 .card::before {
   border-bottom-width: 3px;
   border-left-width: 3px;
 }
 .card::after {
   border-top-width: 3px;
   border-right-width: 3px;
 }
 .card:hover::before,
 .card:hover::after {
   border-color: #eb196e;
   border-radius: 10px;
   -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
   transition: border-color 0s, width 0.25s, height 0.25s;
   width: 100%;
   height: 100%;
 }
 .card:hover::before {
   -webkit-transition-delay: 0s, 0s, 0.25s;
   transition-delay: 0s, 0s, 0.25s;
 }
 .card:hover::after {
   -webkit-transition-delay: 0s, 0.25s, 0s;
   transition-delay: 0s, 0.25s, 0s;
 }
 /*End Service*/

 /*About us*/
#box-2 {
    max-width: 420px;
    max-height: 500px;
    cursor: pointer;
}
.gradient-border-2 {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}
.gradient-border-2:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}
@keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
}
/*End About us*/

/*Colleagues*/
.img-Colleague{
    border-radius: 50%;
    width:120px;
    cursor: pointer;
}
.img-Colleague:hover{
    -webkit-transform: rotateZ(-60deg);
    -ms-transform: rotateZ(-60deg);
    transform: rotateZ(-60deg);
    transition: 2s ;
    border: 7px solid #0066ff;
}
/* End Colleagues*/

/*Contact us*/
.icon{
        font-size: 20px;
}
.contactus{
    width: 460px;
    height: 500px;
}
.form-control{
    background: #00001a;
    border: none;
    border-radius: 50px;
}
.form{
    background:#000033;
    width: 500px;
    border-radius: 50px;
}
#box-3 {
    max-width: 460px;
    max-height: 900px;
    cursor: pointer;
}
.gradient-border-3 {
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
}
.gradient-border-3:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}
@keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
}
/*End Contact us*/

/*Frequently Asked Questions*/
.list-group-item{
    background:#000033;
    width: 600px;
    border-radius: 10px;
}
.list-group-item:nth-child(1),.list-group-item:nth-child(4){
    border-radius: 10px;
}

/*End Frequently Asked Questions*/

/*Footer*/
.social-icons .item {
    color: white;
    display: inline-block;
    margin: 10px;
    transition: .3s all;
    -webkit-transition: .3s all;
    color: #fff;
    background-color: #00001a;
    border-radius: 50%;

}
.social-icons.spinned .item:hover {
    -webkit-animation: Social-Icons-Flipping .3s;
    animation: Social-Icons-Flipping .3s
}
.social-icons .item .fab {
    font-size:xx-large;
    font-weight: 500;
}
.linkedin:hover {
    background-color: #019fb6!important
}
.facebook:hover {
    background-color: #019fb6!important
}
.twitter:hover {
    background-color: #019fb6!important
}
.instagram:hover {
    background-color: #019fb6!important
}
@-webkit-keyframes Social-Icons-Flipping {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes Social-Icons-Flipping {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
/*End footer*/








